/* aller */
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/allercyrillic.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/allercyrillic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/allercyrillic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}