//fonts sizes
$font-small: 14px;
$font-base-size: 16px;
$font-medium: 20px;
$font-large: 24px;

//colors
$color-orange: #ff7004;
$progress: #d8a643;



//text colors
$color-minor-text: #474747;
$color-major-text: #212121;

//bgc colors
$color-light-gray: #f4f5f7;
$color-dark-gray: #ebebeb;

//spaces
$spacer-base: 16px;

$spacer-xxs: 0.25 * $spacer-base;
$spacer-xs: 0.5 * $spacer-base;
$spacer-s: 0.75 * $spacer-base;
$spacer-m: $spacer-base;
$spacer-l: 1.5 * $spacer-base;
$spacer-xl: 1.75 * $spacer-base;
$spacer-xxl: 2 * $spacer-base;

$button :linear-gradient(135deg, rgba(28, 68, 101, 0.9304096638655462) 1%, rgba(86, 129, 196, 1) 47%, rgba(48, 74, 199, 1) 100%);
