@import '../../globalStyles/variables.scss';

.playerCard {
  display: flex;
  gap: 10px;
  padding: 0px 5px 5px 0;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &-avatar {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
  }
  &-info {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    text-align: left;
  }
  &-name {
    font-size: 30px;
  }
  .lvl {
    &-progress {
      width: 2%;
      background-color: $progress;
      height: 100%;
    }
    &-bar {
      height: 6px;
      background-color: #fff;
      margin: 3px 0;
    }
  }
}
