.popup {
  position: absolute;
  width: 50%;
  background-color: #00000091;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
  align-items: center;
  color: #fff;
  transition: all 3s;

  text-align: center;
  animation: show 3s ease;
}



@keyframes show {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}
