@import '../../globalStyles/variables';

.select-map-page-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.select-map-page-container__songs-list {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateY(-50%);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  padding-right: -130px;
  z-index: 1;
  &::-webkit-scrollbar {
    width: 0;
  }
  .song-list-item-wrapper{
    position: relative;
    transform: translate(130px);
  }
  .song-list-item {
    width: 800px;
    height: 100px;
    display: flex;
    color: #fff;
    background: rgb(223, 70, 146);
    opacity: 0.9;
    transition: all 0.8s ease;
    float: right;
    cursor: pointer;
    box-shadow: $black-box-shadow;
    transform: translate(0px);
    margin: 0;
    z-index: 3;
    text-transform: capitalize;
    .song-list-item__cover {
      width: 130px;
      height: 100%;
      object-fit: cover;
    }
    .song-list-item__info-list {
      padding: 4px 8px;
    }
  }
  .active-item {
    transform: translate(-100px);
    margin: 10px 0;
  }
  .selected-item {
    transform: translate(-100px);
    margin: 10px 0;
    color: #000;
    background: rgb(220, 220, 220);
  }
  .stick-selected-item {
    transform: translate(-130px);
  }
}

.star-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  visibility: hidden;
}
.star-path-active {
  display: block;
  visibility: visible;
}
.star-path__star-item {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 1px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 16px rgba(255,255,255,0.5),
              0 0 0 32px rgba(255,255,255,0.5)
              0 0 0 80px rgba(255,255,255,0.5);
  animation: animate 3s linear infinite;
  z-index: 0;
}
.star-path__star-item::before {
  content: '★';
  position: absolute;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 3px #fff, 0 0 5px #fff;
}
@keyframes animate
{
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(-1500px) rotate(45deg);
  }
}
.star-path__star-item:nth-child(1) {
  top: 5px;
  right: 40px;
  animation-delay: 0;
  animation-duration: 1s;
}
.star-path__star-item:nth-child(2) {
  top: 10px;
  right: 80px;
  animation-delay: 0.3s;
  animation-duration: 1s;
}
.star-path__star-item:nth-child(3) {
  top: 35px;
  right: 120px;
  animation-delay: 0.6s;
  animation-duration: 1s;
}
.star-path__star-item:nth-child(4) {
  top: 45px;
  right: 180px;
  animation-delay: 0.7s;
  animation-duration: 1s;
}
.star-path__star-item:nth-child(5) {
  top: 55px;
  right: 400px;
  animation-delay: 1s;
  animation-duration: 1s;
}
.star-path__star-item:nth-child(6) {
  top: 65px;
  right: 600px;
  animation-delay: 1.3s;
  animation-duration: 1s;
}