@import '../../globalStyles/variables';

.panel {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
