$text-shadow: 0 0 15px #FFFFDD;
$logo-size: 500px;
$menu-height: $logo-size / 5;




@keyframes pulse {
  0% {
    transform: scale(1) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg);
  }

  50% {
    transform: scale(1.01) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg);
  }

  100% {
    transform: scale(1) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg);
  }

  50% {
    -webkit-transform: scale(1.01) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg);
  }

  100% {
    -webkit-transform: scale(1) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg);
  }
}

.main {

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    font-family: verdana;
    color: #FFF;
    text-decoration: none;
  }

}

.noevents {
  pointer-events: none;
}

.bg {
  z-index: -1;
  position: absolute;
  margin-top: -150px;
  box-shadow: 26px 50px 500px rgba(0, 0, 0, 0.35) inset;
  height: 100%;
  width: 100%;


}

.osu-main {
  position: relative;
  margin-left: 50%;
  left: -$logo-size / 2;
  height: $logo-size;
  width: $logo-size;
}


.osu-main .osu {
  cursor: pointer;
  height: $logo-size;
  width: $logo-size;
  border: 10px solid #FFFFF4;
  border-radius: 100%;
  text-align: center;
  line-height: 440px;
  font-size: 100px;
  text-shadow: $text-shadow;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2) inset, -90px -160px 180px rgba(0, 0, 0, 0.23) inset;
  background: url('../../assets/osu-png-osu-patter-115629274750xlod5ytih.png');
  background-size: 130%;
  background-position: center;
  transform: rotateY(-13deg) rotateX(17deg) rotateZ(-7deg);
  -webkit-transform: rotateY(-11deg) rotateX(13deg) rotateZ(-5deg);
  overflow: hidden;
  animation: pulse 0.4s linear infinite;
  -webkit-animation: pulse 0.4s linear infinite;
}


.osu-main .osu-main-menu {
  position: absolute;
  top: $logo-size / 12;
  left: $logo-size / 2;
}

.osu-main .osu-main-menu div {
  cursor: pointer;
  position: relative;
  margin: 5px;
  border: 3px solid #FFFFF4;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2) inset, -15px -35px 80px rgba(0, 0, 0, 0.33) inset;
  background: linear-gradient(27deg, rgba(146, 106, 223, 1) 0%, rgba(85, 60, 137, 1) 100%);
  height: $menu-height;
  text-align: right;
  padding-right: 52px;
  line-height: $menu-height - 13px;
  font-size: 0px;
  width: 0;
  opacity: 0;
}

.osu-main .osu-main-menu .play {
  border-radius: 0 2.5em 0.3em 0;
}

.osu-main .osu-main-menu .edit {
  border-radius: 0 1em 0.3em 0;
}

.osu-main .osu-main-menu .options {
  border-radius: 0 0.3em 1em 0;
}

.osu-main .osu-main-menu .exit {
  border-radius: 0 0.3em 2.5em 0;
}

/* ANIMATIONS */
.osu-main:hover {
  left: -$logo-size / 2 - 150px;
}

.osu-main:hover .osu {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  animation: none;
  -webkit-animation: none;
}

.osu-main:hover .osu:active {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);

}



.osu-main:hover .osu-main-menu .play {
  width: 550px;
  font-size: 70px;
  opacity: 1;

}

.osu-main:hover .osu-main-menu .edit {
  width: 600px;
  font-size: 70px;
  opacity: 1;
}

.osu-main:hover .osu-main-menu .options {
  width: 600px;
  font-size: 70px;
  opacity: 1;
}

.osu-main:hover .osu-main-menu .exit {
  width: 550px;
  font-size: 70px;
  opacity: 1;
}

.osu-main .osu-main-menu div:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
}

.osu-main .osu-main-menu div:active {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
}

.osu-main .osu-main-menu div:hover {
  width: 620px;
  text-shadow: $text-shadow;
  border-radius: 0 1em 1em 0;
  filter: contrast(200%);
}
