@import '../../../globalStyles/variables';

ul.select-map-page-container__songs-list {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateY(-50%);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  padding-bottom: 100px;
  padding-right: -130px;
  z-index: 1;
  &::-webkit-scrollbar {
    width: 0;
  }
  .song-list-item-wrapper{
    position: relative;
    transform: translate(130px);
  }
  .song-list-item {
    width: 800px;
    height: 100px;
    display: flex;
    color: #fff;
    opacity: 0.8;
    transition: all 0.8s ease;
    float: right;
    cursor: pointer;
    box-shadow: $black-box-shadow;
    transform: translate(0px);
    margin: 0;
    z-index: 3;
    text-transform: capitalize;
    line-height: 1.2;
    background: rgb(223, 70, 146);
    .song-list-item__cover {
      width: 130px;
      height: 100%;
      object-fit: cover;
    }
    .song-list-item__info-list {
      padding: 4px 8px;
      .artist-title {
        font-size: $font-base-size;
      }
    }
    &.selected-difficulty-map-group {
      background: rgb(5, 142, 230);
    }
    &.selected-item {
      transform: translate(-100px);
      margin: 10px 0;
      color: #000;
      background: rgb(220, 220, 220);
    }
    &.active-item {
      transform: translate(-100px);
      margin: 10px 0;
    }
    &.stick-selected-item {
      transform: translate(-130px);
    }
  }
}