.game {
  &-background {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    width: 100%;
  }

  &-title {
    font-size: 30px;
  }
}
