@import '../../../globalStyles/variables';

.osu-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: url(../../../assets/images/osuButtonBacgroundImage.png);
  background-size: contain;
  background-position:  center;
  box-shadow: $black-box-shadow;
  transition-duration: 0s;
  &:hover {
    transform: scale(1.2);
  }
  .osu-button__title {
    color: #fff;
  }
}