@import '../../globalStyles/variables';

.login {
  .login__input-title {
    margin-top: 8px;
  }

  .sing-in__button {
    margin: 16px 0;
    padding: 8px 16px;
  }
}

//error
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
